<!--<html>-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
<!--</head>-->
<!--<body align="center">-->
<!--<h1>33333</h1>-->

<!--<foreach name = "result" item="li">-->
    <!--<a href="{:U('File/downloadFile',array('folders'=>$li['filesavefolder'],'file'=>$li['filesavename'],'reallyfile'=>$li['filename']))}">{$li.filename}</a>-->
    <!--&nbsp;&nbsp;&nbsp;&nbsp;{$li.upfile_time}&nbsp &nbsp-->
    <!--<a href="{:U('File/onlineShow',array('folders'=>$li['filesavefolder'],'file'=>$li['filesavename'],'reallyfile'=>$li['filename']))}">在线浏览</a>-->
    <!--&nbsp;&nbsp;&nbsp;&nbsp;-->

    <!--<br>-->
<!--</foreach>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__PUBLIC__/CSS/index.css">
</head>
<body>
<article class="">
    <div class="list">
        <form method="post" action="{:U('file/showFileSearch',array('fileusername'=>$result[0]['fileusername']))}">
        <span>文件名</span>
        <span>上传时间</span>
        <span>上传人</span>
        <span style="width:325px;">标签
            <if condition="$showsearchLabel eq 1  ">
                <select name="label">
                    <option value ="所有">所有</option>
                    <foreach name="label" item="li">
                        <if condition="$li['filelabel'] neq '公共文件'">
                        <option value ="{$li.filelabel}">{$li.filelabel}</option>
                        </if>
                    </foreach>
                </select>
            </if>

        搜索:<input type="text" name="search" size="15"><input type="submit" name="submit" value="搜索"></span>
        </form>
    </div>
    <hr />

    <section>

        <ul>
            <foreach name = "result" item="li">
            <li>
                <div class="list">
                    <span><a href="{:U('File/downloadFile',array('folders'=>$li['filesavefolder'],'file'=>$li['filesavename'],'reallyfile'=>$li['filename'],'fileusername'=>$li['fileusername']))}" style="color:blue;">{$li.filename}</a></span>
                    <span><a href="">{$li.upfile_time}</a></span>
                    <span><a href="">{$li.fileusername}</a></span>
                    <span><a href="">{$li.filelabel}</a></span>
                </div>
            </li>
            </foreach>
        </ul>
        <div class="pages">
            {$page}
        </div>
    </section>
</article>
</body>
</html>
