<!--<html>-->
<!--<meta http-equiv="content-type" content="text/html; charset=utf-8">-->
<!--<link rel="stylesheet" type="text/css" href="__ROOT__\Application\Home\View\Index\mas.css">-->
<!--<body align="center">-->

<!--<if condition="$_SESSION['isteacher'] eq 1">-->
    <!--<a href="{:U('File/displayup')}">上传文件</a>-->
<!--</if>-->

<!--<a href="{:U('File/showfolder')}">下载文件</a>-->

<!--<if condition="$_SESSION['isteacher'] eq 1">-->
    <!--<a href="{:U('User/userinfo')}">我的文件</a>-->
<!--</if>-->

<!--<div class="page_bbs">-->
    <!--<div class="bbs_page">-->
        <!--11111111-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>资源管理器</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/main.css">
</head>
<body>

<div id="body">
    <div id="page">
        <div id="teacher"><button class="button button2" onclick="teacher()">教师文件</button></div>
        <div id="show">
            <button class="button button2" ><a href="{:U('file/showfile',array('filesavefolder'=>'testdata'))}">公共文件</a></button>
        </div>

        <div id="file">
            <foreach name="fileusername" item="li">
                <div class="folder"><a href="{:U('file/showfile',array('filesavefolder'=>'ziyuan','fileusername'=>$li['fileusername']))}">{$li.fileusername}</a></div>
            </foreach>
        </div>
        <if condition="$_SESSION['isteacher'] eq 1">
        <ul class="nav">
            <li><a href="{:U('File/displayup')}"  >上传文件</a></li>

            <li><a href="{:U('User/userinfo')}">我的文件</a></li>
        </ul>
        </if>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    function teacher()
    {
        var t=document.getElementById('file');
        t.style.display="block";
    }
</script>