<!--<html>-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
<!--</head>-->
<!--<body align="center">-->
<!--<h1>44444444</h1>-->
<!--你的文件目录：-->

<!--<foreach name = "result" item="li">-->
    <!--文件名：-->
    <!--<a href="{:U('File/downloadFile',array('folders'=>$li['filesavefolder'],'file'=>$li['filesavename'],'reallyfile'=>$li['filename']))}">{$li.filename}</a>-->
    <!--&nbsp;&nbsp;&nbsp;&nbsp;{$li.upfile_time}-->
    <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
    <!--下载次数：-->
    <!--{$li.count}-->
    <!--<a href="{:U('User/deleteFile',array('filesavename'=>$li['filesavename']))}">删除</a>-->
    <!--<br/>-->
<!--</foreach>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__PUBLIC__/CSS/index.css">
</head>
<body>
<article class="">
    <div class="list">
        <form method="post" action="{:U('User/UserinfoSearch')}">
        <span>文件名</span>
        <span>上传时间</span>
        <span>标签</span>
        <span>下载次数</span>
        <span>删除</span>
        <span style="width:325px;">标签
                <select name="label">
                    <option value ="所有">所有</option>
                    <foreach name="label" item="li">
                        <option value ="{$li.filelabel}">{$li.filelabel}</option>
                    </foreach>
                </select>
        搜索:<input type="text" name="search" size="15"><input type="submit" name="submit" value="搜索"></span>
        </form>
    </div>
    <hr />

    <section>

        <ul>
            <foreach name = "result" item="li">
                <li>
                    <div class="list">
                        <span><a href="{:U('File/downloadFile',array('folders'=>$li['filesavefolder'],'file'=>$li['filesavename'],'reallyfile'=>$li['filename']))}" style="color:blue;">{$li.filename}</a></span>
                        <span><a href="">{$li.upfile_time}</a></span>
                        <span><a href="">{$li.filelabel}</a></span>
                        <span><a href="">{$li.count}</a></span>
                        <span><a href="{:U('User/deleteFile',array('filesavename'=>$li['filesavename']))}"><i class="icon"> &nbsp&nbsp&nbsp&nbsp</i></a></span>
                    </div>
                </li>
            </foreach>
        </ul>
        <div class="pages">
            {$page}
        </div>
    </section>
</article>
</body>
</html>